.income-expense-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.income-section,
.expense-section {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-headline {
    font-size: 24px;
    margin-bottom: 10px;
}

.input-form {
    display: flex;
    flex-direction: column;
}

.input-field {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.add-button:hover {
    background-color: #2980b9;
}

/* .income {
    background-color: #4caf50; 
    color: white;
}

.expense {
    background-color: #f44336;
    color: white;
} */

.filter-search {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

#filter-select,
#search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.history {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead th {
    background-color: #f2f2f2;
}

.filter-search select,
.filter-search input[type="text"] {
    width: 48%;
}

.filter-search select {
    appearance: none;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 15px;
}

.filter-search input[type="text"] {
    width: 48%;
}